div.container
  h1 Rule 30
  hr
  button.btn.btn-success.btn-lg(type="button", data-ng-click="start()") START
  | &nbsp;
  button.btn.btn-danger.btn-lg(type="button", data-ng-click="stop()") STOP
  | &nbsp;
  button.btn.btn-warning.btn-lg(type="button", data-ng-click="clear()") CLEAR
  | &nbsp;
  label
    input(type="checkbox", data-ng-click="toggleBorder()")
    | &nbsp;
    span Enable border
  h2 Iterations: {{ iterations }}
  div.container.text-center
      rule30