extends layout

block body
  div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='/js/lib/ui-bootstrap.min.js')
  script(src='js/app.js')
  script(src='js/controllers.js')
  script(src='js/directives.js')