!!!
html(ng-app="rule30App")
  head
    meta(charset='utf8')
    base(href='/')
    title Rule 30
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/angular-csp.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
  body
    block body